.form-title {
  font-weight: 100;
  font-size: 40px;
  width: 40%;
  border-bottom: 1px solid rgb(189, 187, 187);
}
th {
  font-weight: 500;
  font-size: 20px;
  background-color: white;
}
td {
  font-size: 15px;
  text-align: center;
}
td a {
  margin: 10px;
  transition: 0.5s all;
}
td a:hover {
  background-color: black;
  color: whitesmoke;
}
label {
  font-weight: 700;
}

input {
  font-size: 1rem;
  padding: 0.75rem 0.5rem;
  border: 1px solid var(--primary_bg300);
}

input.width-full {
  width: 100%;
}

a#btnAdd {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  border: none;
  background-color: whitesmoke;
  color: black;
  transition: all 0.5s;
}

a#btnAdd:hover {
  color: whitesmoke;
  background-color: black;
}
/* Formulario */
section.ww-form-wrapper {
  background-color: black;
}
section.ww-form {
  display: flex;
  align-items: center;
  flex-direction: space-evenly;
}
