h1 {
  border-bottom: 1px solid gray;
  font-weight: 100;
}
section.ww-form-wrapper {
  width: 50%;
}
.ww-form {
  width: 100%;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}
.row input {
  border: none;
  border-bottom: 2px solid gray;
  transition-property: all 1s;
}
.row input:focus {
  border-bottom: 2px solid black;
}
.row * {
  width: 50%;
}
button {
  background-color: rgb(65, 63, 63);
  color: whitesmoke;
  margin: 15px;
  border: none;
  width: 25%;
  border-radius: 15px;
}
